{% extends 'base.html' %}
{% load static %}



{% block title %}Добавить рецепт{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="section-container-spacer">
                <h1>Добавить рецепт</h1>
                <p>Спасибо, что делитесь с нами вашими секретами :)<br>Поскольку все добавленные рецепты проходят
                    модерацию, ваш рецепт будет доступен через некоторое время после заполнения формы.</p>
            </div>
            <div class="section-container-spacer">
                <form action="{% url 'add_recipe' %}" class="reveal-content" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            <div class="form-group">
                                <label for="{{ form.category.id_for_label }}">Категория</label>
                                {{ form.category }}
                                <div class="invalid-feedback">
                                    {{ form.category.errors }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.title.id_for_label }}">Наименование</label>
                                {{ form.title }}
                                <div class="invalid-feedback">
                                    {{ form.title.errors }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.slug.id_for_label }}">Уникальное имя</label>
                                {{ form.slug }}
                                <div class="invalid-feedback">
                                    {{ form.slug.errors }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.short_desc.id_for_label }}">Примечание</label>
                                {{ form.short_desc }}
                                <div class="invalid-feedback">
                                    {{ form.short_desc.errors }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.proportions.id_for_label }}">Ингредиенты</label>
                                {{ form.proportions }}
                                <div class="invalid-feedback">
                                    {{ form.proportions.errors }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.content.id_for_label }}">Пошаговый рецепт</label>
                                {{ form.content }}
                                <div class="invalid-feedback">
                                    {{ form.content.errors }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.author.id_for_label }}">Автор</label>
                                {{ form.author }}
                                <div class="invalid-feedback">
                                    {{ form.author.errors }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.tags.id_for_label }}">Теги</label>
                                {{ form.tags }}
                                <div class="invalid-feedback">
                                    {{ form.tags.errors }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.captcha.id_for_label }}">Введите символы</label>
                                {{ form.captcha }}
                                <div class="invalid-feedback">
                                    {{ form.captcha.errors }}
                                </div>
                            </div>


                            {#                            <div class="form-group">#}
                            {#                                <label for="{{ form.tags.id_for_label }}">Ключевые слова</label>#}
                            {#                                {{ form.tags }}#}
                            {#                                <div class="invalid-feedback">#}
                            {#                                    {{ form.tags.errors }}#}
                            {#                                </div>#}
                            {#                            </div>#}


                            {# {{ form.as_p }} #}

                            <button type="submit" class="btn btn-primary btn-lg">Добавить рецепт</button>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled address-container">
                                <li>
                  <span class="fa-icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </span>
                                    + 7 (951) ххх-хх-хх
                                </li>
                                <li>
                  <span class="fa-icon">
                    <i class="fa fa-at" aria-hidden="true"></i>
                  </span>
                                    kovdmit@mail.ru
                                </li>

                            </ul>
                            <h3>Follow me on social networks</h3>
                            <a href="https://www.linkedin.com/in/kovdmit/" title="" class="fa-icon">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="https://twitter.com/kovdmit" title="" class="fa-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}