{% extends 'recipe/base.html' %}
{% load static %}



{% block title %}О сайте{% endblock %}
{% block content %}
<div class="row">
{#    <div class="col-xs-12 col-md-6">#}
{#        <img class="img-responsive" alt="" src="https://picsum.photos/1200/1800">#}
{#    </div>#}
    <div class="col-xs-12 col-md-10">
        <h1>О сайте</h1>

        <p>Данный ресурс является виртуальным каталогом рецептов блюд. Первоначальной целью сайта является тренировка автора в написании кода на веб-фреймворке Django.</p>

        <h3>Источники данных</h3>

        <p>Все рецепты были взяты с ресурса https://www.gastronom.ru/</p>

        <h3>Возможности информационного ресурса</h3>

        <p>Сайт позволяет просматривать рецепты из каталога, добавлять свои рецепты, регистрироваться и проходить аутентификацию. Присутствует навигация по категориям и тегам, поиск по названию.</p>

        <h3>Информация о планируемых обновлениях</h3>

        <p>
            - Рейтинг рецептов с возможностью голосования</br>
            - Комментарии под рецептами</br>
        </p>

        <h3>Связь с автором</h3>

        <p>Telegram: @i76700</p>

        <a href="https://t.me/i76700" class="btn btn-primary" title="">Написать разработчику</a>
    </div>
</div>
{% endblock %}