{% load recipe_tags %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand и toggle сгруппированы для лучшего отображения на мобильных дисплеях -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Главная</a>
                    <a class="navbar-brand" href="http://127.0.0.1:8000/admin/">Admin</a>
                </div>

        <!-- Соберите навигационные ссылки, формы, и другой контент для переключения -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Категории<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% show_cat %}
                    </ul>
                </li>

                <li><a href="{% url 'add_recipe' %}" title="">Добавить рецепт</a></li>
{#navbar-form navbar-left#}
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Я ищу...">
                </div>
                <button type="submit" class="btn btn-default">Найти</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'login' %}">Авторизация</a></li>
                <li><a href="{% url 'register' %}" title="">Регистрация</a></li>
                <li><a href="{% url 'about' %}" title="">О сайте</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>